body{
	font-family: 'Montserrat',sans-serif;
  font-size: 16px;
}

ul, li{
  list-style-type: none;
}

a{
	text-decoration: none;
	color: inherit;
}

a:hover{
  color: rgba(71,71,71,0.5);
}
.container {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "header"
    "sidebar"
    "content"
    "footer";
}

/* =========================== */
.header {
  grid-area: header;
  box-shadow: 0px 10px 15px rgba(188,188,188,0.5);
}

h1{
	font-family: 'Wire One', sans-serif;
	font-size: 2em;
  padding: 5px;
	text-transform: uppercase;
	text-align: center;
}

h2{
	font-family: 'Wire One', sans-serif;
	font-size: 2em;
	border-bottom: 1px solid #000;
}

/* =========================== */
.sidebar {
  grid-area: sidebar;
	grid-row-end: auto;
  line-height: 40px;
  border-bottom: 1px solid rgba(133,146,158,0.5);
	text-transform: capitalize;
}

/* =========================== */
.content{
	grid-area: content;
	display: grid;
	grid-template-areas:
	"card-1"
	"card-2"
	"card-3";
	grid-gap: 1rem;
	border: 1px solid rgba(133,146,158,0.5);
	border-radius: 4px;
	padding: 10px;
}

.card-1{
	grid-area: card-1;
}
.card-2{
	grid-area: card-2;
}
.card-3{
	grid-area: card-3;
}

.form-container{
	grid-area: content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  grid-template-areas:
  "form";
  border: 1px solid rgba(133,146,158,0.5);
  border-radius: 4px;
  padding: 10px;
}

.form{
  padding: 10px;
}

/* =========================== */
.footer {
  grid-area: footer;
  padding: 10px;
  border-top: 1px solid rgba(133,146,158,1);
}

.social{
	color: rgba(0,0,0,0.5);
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.social li{
	padding: 10px;
}

.contact{
  color: rgba(0,0,0,0.5);
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.contact li{
  text-transform: capitalize;
  padding: 10px;
}

/* =========================== */
@media (min-width: 500px) {
	.container{
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr 150px;
    grid-template-areas:
      "header  header"
      "sidebar content"
      "footer  footer";
  }

	.sidebar{
		border-bottom: none;
		border-right: 1px solid rgba(133,146,158,0.5);
	}
}

@media (min-width: 900px){
	.content{
		grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "card-1 card-1"
      "card-2 card-3";
	}

}
