
body, html{
	margin: 5px;
	height: 100%;
	font-family: 'Montserrat',sans-serif;
  font-size: 16px;
}

ul, li{
  list-style-type: none;
}

a{
	text-decoration: none;
	color: inherit;
}

a:hover{
  color: rgba(71,71,71,0.5);
}
.container {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "header"
    "sidebar"
    "content"
    "footer";
}

/* =========================== */
.header {
  grid-area: header;
	display: grid;
	grid-column: 20px 1fr;
	grid-gap: 1rem;
  grid-template-areas:
	"slider-container title";
	border-bottom: 1px solid rgba(133,146,158,0.5);
}

h1{
	grid-area: title;
	font-family: 'Wire One', sans-serif;
	font-size: 2em;
	text-transform: uppercase;

}

h2{
	font-family: 'Wire One', sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	color: #fff;
	padding: 20px;
	background-color: rgba(0,0,0,1);
	box-shadow: 15px 10px rgba(248, 85, 85,1);
}

/* =========================== */
.slider-container {
	grid-area: slider-container;
  position: relative;
	line-height: 60px;
}

.slider-container .slider-parent {
  width: 100%;
  background: #fff;
  position: absolute;
  left: -250px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: .2s all linear;
	text-align: center;
}

.slider-container .slider-parent.active {
  visibility: visible;
  pointer-events: inherit;
  transition: .2s all ease-in-out;
  opacity: 1;
  left: 0;
}

/* =========================== */
.content{
	grid-area: content;
	display: grid;
	grid-template-areas:
	"card-1"
	"card-2"
	"card-3";
	grid-gap: 2rem;
	padding: 10px;
}

.card-1{
	grid-area: card-1;
	padding: 10px;
}

.card-2{
	grid-area: card-2;
	padding: 10px;
}

.card-3{
	grid-area: card-3;
	padding: 10px;
}

.form-container{
	grid-area: content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  grid-template-areas:
  "form";
  border: 1px solid rgba(133,146,158,0.5);
  border-radius: 4px;
  padding: 10px;
}

.form{
  padding: 10px;
}

/* =========================== */
.footer {
  grid-area: footer;
  border-top: 1px solid rgba(133,146,158,0.5);
	color: rgba(0,0,0,0.5);
	text-transform: uppercase;
	justify-content: space-between;
	text-align: center;
	line-height: 40px;
	padding: 20px;
}

.footer a{
	padding: 10px;
}
/* =========================== */
@media (min-width: 900px){
	.content{
		grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "card-1 card-1"
      "card-2 card-3";
	}
}
